# Execute unit tests on Circle CI.
#
# References:
# https://circleci.com/developer/orbs/orb/circleci/android
# https://circleci.com/blog/building-android-on-circleci

version: 2.1

orbs:
  android: circleci/android@2.0.0

jobs:
  build:
    working_directory: ~/code
    executor:
      name: android/android-machine
      tag: 2021.10.1
    environment:
      JVM_OPTS: -Xmx3200m -Dfile.encoding=utf-8
    steps:
      - checkout
      - run:
          name: Install OpenJDK 17
          command: |
            sudo apt-get update && sudo apt-get install openjdk-17-jdk
            sudo update-alternatives --set java /usr/lib/jvm/java-17-openjdk-amd64/bin/java
            sudo update-alternatives --set javac /usr/lib/jvm/java-17-openjdk-amd64/bin/javac
      - echo 'export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64/' >> ~/.circlerc
      - run:
          name: Display version
          command: ./gradlew --version
      - android/restore-gradle-cache
      - android/restore-build-cache
      - android/run-tests:
          test-command: ./gradlew testRelease
      - android/save-gradle-cache
      - android/save-build-cache
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
