<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiusnetworks.ibeacon"
    android:versionCode="2"
    android:versionName="0.7.7" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true">
    <service android:enabled="true"
        android:exported="true"
        android:isolatedProcess="false"
        android:label="iBeacon"
        android:name="com.radiusnetworks.ibeacon.service.IBeaconService">
    </service>

    <service android:enabled="true"
        android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor">
    </service>

    </application>

</manifest>
