<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radiusnetworks.ibeacon"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true">
    </application>

</manifest>
