<!DOCTYPE html>
<html>

<head>
<meta charset='utf-8' />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<meta name="description" content="Android Beacon Library : An Android library providing APIs to interact with Beacons" />

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<title>Android Beacon Library</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
  <header class="inner">
    <h1 id="project_title">Android Beacon Library</h1>
    <h2 id="project_tagline" style="font-size: 1.25em;">An Android library providing APIs to interact with Beacons</h2>
    <a class="btn-rad-blue" href="index.html" style="margin-top:-10px;">Home</a>
    <a class="btn-rad-blue" href="download.html" style="margin-top:-10px;">Download</a>
    <a class="btn-rad-blue" href="configure.html" style="margin-top:-10px;">Quick Start</a>
    <a class="btn-rad-blue" href="samples.html" style="margin-top:-10px;">Sample Code</a>
    <a class="btn-rad-blue" href="documentation.html" style="margin-top:-10px;">Docs</a>
    <a class="btn-rad-blue" href="support.html" style="margin-top:-10px;">Support</a>
  </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
  <section id="main_content" class="inner">
{{ content }}
  </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
  <footer class="inner">
    <p class="copyright">&copy; 2014-2019 <a href="http://www.radiusnetworks.com">Radius Networks</a></p>
  </footer>
</div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-44701997-1');ga('send','pageview');
        </script>
</body>
</html>
